<% if @carte.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@carte.errors.count, "erreur") %> ne permet<%= "tent" if @carte.errors.count > 1 %> pas d'enregistrer la carte:</h2>

    <ul>
    <% @carte.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

