<h1>Menu</h1>
<p><%=link_to "Tous les villages du réseau Cap France", villages_path%></p>
<p><%=link_to "Toutes les photos des villages", photos_path%></p>
<p>============================</p>
<p><%=link_to "Administration", "#"%></p>
