<td><%= nom_avec_article_entre_parenthese(village) %></td>
<td><%= village.type_village %></td>
<% if village.dir_existe %>
  <td><%=nc_ayant_un_repertoire(village)%></td>
<%else%>
  <td><%= link_to village.nc.blank? ? '>>>' : village.nc, init_elements_village_path(village) %></td>
<%end%>
