<%= render 'nav_index_non_actifs' %>
<h1><%=@titre%></h1>
<table>

<% @villages.each do |village| %>
  <tr>
    <%= render 'liste_champs', :village => village %>
  </tr>
<% end %>
</table>

<br />
<%= render 'nav_index_non_actifs' %>
