<h1>Nouveau village</h1>

<%= form_for(@village) do |f| %>
  <%= render 'champs', :f => f %>
  <div class="actions">
    <%= f.submit "Créer le village" %>
  </div>
<% end %>

<%= link_to 'Back', villages_path %>
