<%= render 'nav_index_non_actives' %>
<h1><%=@titre%></h1>

<table>

<% @photos.each do |photo| %>
  <tr>
    <%= render 'liste_champs', :photo => photo %>
  </tr>
<% end %>
</table>

<br />
<%= render 'nav_index_non_actives' %>

